<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>View/management.jsp</welcome-file>
    </welcome-file-list>
        <servlet>
        <servlet-name>PendingAcademicTripsServelet</servlet-name>
        <servlet-class>Control.PendingAcademicTripsServelet</servlet-class>
    </servlet>
       <servlet>
        <servlet-name>RegisterStaffServelet</servlet-name>
        <servlet-class>Control.RegisterStaffServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVehicleServelet</servlet-name>
        <servlet-class>Control.RegisterVehicleServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterStaffServelet</servlet-name>
        <url-pattern>/RegisterStaffServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVehicleServelet</servlet-name>
        <url-pattern>/RegisterVehicleServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingAcademicTripsServelet</servlet-name>
        <url-pattern>/PendingAcademicTripsServelet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
